<section class="container-fluid mt-5">
    <div class="row w-75 mx-auto datos-fila">
        <div class="col-lg-6 col-md-12 d-flex my-3 icono-wrap">
            <img src="assets/img-ilustraciones/undraw_Art_re_vj2w.png" alt="desarrollo" width="180" height="160">
            <div class="text-ilustraciones">
                <a href="#">
                    <h3 class="fs-5 fw-bold mt-4 px-4 pb-1">Queremos saber!</h3>
                    <p class="px-4">Comparte tu idea, proyecto, accion que colabore con la comunidad</p>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex  my-3 icono-wrap">
            <img src="assets/img-ilustraciones/community.svg" alt="concepto" width="180" height="160">
            <div class="text-ilustraciones">
                <a href="#">
                    <h3 class="fs-5 fw-bold mt-4 px-4 pb-1">Mesas redondas</h3>
                    <p class="px-4"> Redes, gestiones y otras formas de colaboracion posibles</p>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex my-3 icono-wrap">
            <img src="assets/img-ilustraciones/colaboration.svg" alt="comunicacion" width="180" height="160">
            <div class="text-ilustraciones">
                <a href="#">
                    <h3 class="fs-5 fw-bold mt-4 px-4 pb-1">Comunidad</h3>
                    <p class="px-4">Descubre las iniciativas y propuestas por que hay por la zona</p>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex my-3 icono-wrap">
            <img src="assets/img-ilustraciones/undraw_Pie_chart_re_bgs8.png" alt="seo" width="180" height="160">
            <div class="text-ilustraciones">
                <a href="#">
                    <h3 class="fs-5 fw-bold mt-4 px-4 pb-1">Huella de carbono</h3>
                    <p class="px-4">Calcula el impacto que tienen los productos que vemos dia a dia</p>
                </a>
            </div>
        </div>
    </div>
</section>