<footer>
    <div class="container-fluid">
        <img src="assets/img/logo.svg" class="logo-brand" alt="logo">
        <ul class="list-inline">
            <li class="list-inline-item footer-menu"><a href="#">Map</a></li>
            <li class="list-inline-item footer-menu"><a href="#">About us</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Contact</a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#"><img src="assets/rrss/instagram.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><img src="assets/rrss/twitter.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><img src="assets/rrss/youtube.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><img src="assets/rrss/dribbble.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><img src="assets/rrss/facebook.svg" class="img-fluid"></a>
            </li>
        </ul>
        <small>©2022 All Rights Reserved. Created by <a href="https://themesbootstrap.com.mx/" class="font-weight-bold" target="_blank"
                rel="noopener">Jimenta</a></small>
    </div>
</footer>